/* CSS styling of the body text */
body{
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    background: #f6adad;
    color: #693232;
}

/* Links*/

/* Unvisited link */
a:link{
    color:rgb(105, 45, 45);
}

/* Color after a link is visited */
a:visited{
    color: #fc0;
}

/* Link hovered */
a:hover{
    color: #03F;
}

/* The moment the link is clicked */
a:active{
    color: rgb(199, 100, 199);
}

/* Logo Styling */
.logo{
    font-size: 36px
}

/*Nav Bar styling*/
/*list-style-type = specifies the type of list item marker*/
#navlist li
{
    display:inline;
    list-style-type: circle; /*the marker will be circle*/
    padding-right: 20px; /*Padding between text*/
    border-left: 1px solid #ffffff; /*Shows the little line*/
    line-height: 1.1em; /*set the row's distance*/ 
    margin: 0.5em 0.5em;
    padding: 0.5em 0.5em;
}

/*Box model that wraps around HTML elements*/
/*Content, padding,borders and margins*/
.box{
    margin:10px;
    padding:10px;
    background-color: #f1abab;
    border-width:1px;
    border-color:black;
    border-style:solid; /*Border style, can be dotted, dashed, and even 3D inset*/
    clear:both; /*The element is pushed below both left and right floated elements*/
}

/*Nav Menu Bar box styling*/
.nav{
    margin: 10px;
    padding: 10px;
    background-color: #c27575;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    color: #ffffff;
}

/*Left Box*/
.left{
    width: 20%;
    margin: 10px;
    padding: 10px;
    background-color: #e3caca;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    float:left; /*Pushes the box to the left!*/
}

/*Centre Box*/
.centre{
    width: 47%;
    margin: 10px;
    padding: 10px;
    background-color: #f3e4e4;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    float:left; 
}

/*Right Box*/
.right{
    width: 20%;
    margin: 10px;
    padding: 10px;
    background-color: #e3caca;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    float:right; 
}

/*Lower Nav*/
.lowernav{
    margin: 10px;
    padding: 10px;
    background-color: #c27575;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    color: #ffffff;
    clear:both; 
    /*We had left right elements above, so we are pushing it down*/
}

.gallery{
    width: 50%;
    margin: 10px;
    padding: 1px;
    background-color: #f3e4e4;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    float:right; 
}
.gallery img{
    width: 100%;
    height:auto;
}
.legal{
    margin:10px;
    padding: 10px;
    background-color: #f9e5e5;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    float:none; 
    clear:both;
}

.deadnav{
    color:#ffffff;
    background-color: #3CF
}

